header {
	background-color: lightyellow;
}

 #logo img{
	padding: 10px;
<<<<<<< HEAD
	margin-top: 10px;
	margin-left: 5px;
=======
	margin-top:10px;
	margin-left:30px;
>>>>>>> a7c956d0ff1975ef374926d95e6024b18ac0033d
	background-color: white;
	}

.news-channels{
	height:500px;
	border:2px solid lightyellow;
	border-radius: 10px 10px 10px 10px;
	overflow:scroll;
	margin-left: 20px;
	}
.new-pages{
	height:500px;
	border:2px solid lightyellow;
	border-radius: 10px 10px 10px 10px;
	overflow:scroll;

}
#head-news{
	border: 2px solid black;
	padding: 12px;
}
#head-img{
 float:left;
 width: 15%;
}
#head-title-des{
	width:75%;
	float: right;
}
#clear{
	clear:both;
}


