header {
	background-color: rgba(56, 221, 41, 0.075);
}

 #logo img{
	/* padding: 10px;
	margin-top:10px; 
	margin-left:30px; 
	 background-color: white; */
	}

.news-channels{
	background-color: white;
	height:450px;
	border:2px solid lightyellow;
	border-radius: 10px 10px 10px 10px;
	overflow:scroll;
	margin-left: 20px;
	} 
.new-pages{
	background-color: white;
	height:450px;
	border:2px solid lightyellow;
	border-radius: 10px 10px 10px 10px;
	overflow:scroll;
} 
.check{
	padding-left:20px 
}
#head-news{
	padding: 5px;
	color: whitesmoke;
	border: 3px solid whitesmoke;
	
}
#head-img{
 border-radius: 8px 8px 8px 8px
}
#head-des{
	color: rgb(102, 97, 97);
}
#head-chl{
	color: rgb(102, 97, 97);
}
#clear{
	clear:both;
}
.nav_btn{
	color: black;
	font-size: 18px
}

